* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    font-style: normal;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.heading-sec {
    padding: 5rem 0;
    border-bottom: 2px solid #eaeaea;
    width: 100%;
    text-align: center;
    background: url('assets/sand-background-image@2x.png') no-repeat center/cover, #f0f0f0;
}

.pricing-table {
    text-align: center;
    width: 100%;
    padding: 4rem;
}


h2 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    color: #333;
}

p {
    font-size: 1rem;
    color: #666;
}

.table {
    display: table;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 1rem;
    border: 0px;
    text-align: center;
    vertical-align: middle;
}

.border-row .table-cell:not(.popular) {
    border-bottom: 2px solid #eaeaea;
}

.header .table-cell {
    line-height: 50px;
    font-weight: 550;
}

.main-title {
    color: #3662E3;
}

.head-title {
    font-weight: bold;
    color: #000;
    text-align: start;
    background-color: #f9fafc;
}

.head-price {
    font-size: 4rem;
    padding: .5rem;
    color: #333;
}

.per-month {
    font-size: 1rem;
    color: #999;
}

.gt-strd .table-cell a {
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3662E3;
}

.first-head {
    border-top-left-radius: 1.5rem;
}

.last-head {
    border-bottom-left-radius: 1.5rem;
}

.highlight {
    background-color: #121826;
    border-color: #121826;
    color: #fff;
}

.popular {
    background-color: #121826;
    border-color: #121826;
    color: #fff;
    font-weight: bold;
}

.popular>.main-title {
    border-radius: 1.5rem;
    background: #3662E3;
    color: #fff;
    height: 1.4rem;
    width: 6rem;
    margin: 13px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular>.head-price {
    color: #fff;
}

.f_st_row {
    border-top-left-radius: 1.1rem;
    border-top-right-radius: 1.1rem;
}

.l_st_row {
    border-bottom-left-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    color: #fff;
    background: #E9A23B;
}

.gt-strd .table-cell a .l_st_row {
    color: #fff;
}

.popular .btn {
    background-color: orange;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .table-cell {
        padding: 0.5rem;
    }

    .c_free {
        display: none;
    }
}

@media screen and (max-width: 640px) {

    .c_free {
        display: none;
    }

    .c_team {
        display: none;
    }

    .head-price {
        font-size: 3rem;
    }

    .pricing-table {
        padding: 4rem .5rem;
        overflow: hidden;
    }
    .head-title {
        height: 20px;
    }

}